<section class="chat-container">
  <div class="chat-header">FalAI Doutor</div>

  <div class="chat-messages" #chatMessages>
    <div *ngFor="let message of messages" [ngClass]="{
        'message': true,
        'user-message': message.type === 'user',
        'ia-message': message.type === 'ia',
        'contact-message': message.type === 'contact'
      }">
      <p *ngIf="message.type === 'ia'">{{ message.text.replace('{{ firstName }}', firstName) }}</p>
      <p *ngIf="message.type === 'user' || message.type === 'contact'">{{ message.text }}</p>
    </div>
    <!-- Spinner aqui dentro do chat -->
    <div *ngIf="isLoading" class="d-flex justify-content-center py-3">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>
  </div>

  <!-- Input e botão de envio (aparecem somente se o chat não estiver bloqueado) -->
  <div class="chat-input input-group" *ngIf="!isChatBlocked">
    <input [(ngModel)]="userInputValue" type="text" class="form-control" placeholder="Digite sua mensagem..."
      (keydown.enter)="sendMessage()" #userInput>

    <button class="btn btn-primary" type="button" (click)="sendMessage()">Enviar</button>
  </div>

  <div *ngIf="isChatBlocked" class="chat-done-actions">
    <button class="btn btn-primary" type="button" (click)="goToTriages()">Ver minhas triagens</button>
  </div>
</section>
