<section class="content container text-center">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="assets/img/homePage/main_image.png" alt="Icon 1">
        </div>
        <div class="col-md-6 content-content text-start">
            <h1>FalAI Doutor</h1><br>
            <p>O FalAI Doutor é um sistema inovador de triagem médica que utiliza inteligência artificial generativa para transformar o atendimento inicial em saúde. Com foco na eficiência e precisão, ele realiza um pré-diagnóstico detalhado do paciente, analisando sintomas para classificar o grau de risco do quadro clínico do paciente.</p>
            <p>A ferramenta auxilia profissionais da saúde na priorização de atendimentos, otimizando recursos e garantindo que os casos mais urgentes recebam atenção imediata.</p>
            <a href="/triage/login" class="btn btn-primary mt-3">Acessar Triagem</a>
        </div>
    </div>
</section>

<section class="feature-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="feature-card">
                    <img src="assets/img/homePage/main_image1.jpg" alt="Icon 1">
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-card">
                    <img src="assets/img/homePage/main_image2.jpg" alt="Icon 2">
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-card">
                    <img src="assets/img/homePage/main_image3.png" alt="Icon 3">
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-card">
                    <img src="assets/img/homePage/main_image4.jpg" alt="Icon 4">
                </div>
            </div>
        </div>
    </div>
</section>