footer {
    width: 100%;
    min-height: 30px;
    margin-top: 0;
    padding: 0.45rem 1rem;
    background-color: #087cf4;
    color: #ffffff;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.74rem;
    font-weight: 600;
}
