<main class="container mt-5">

    <!-- Título -->
    <div class="border-bottom pb-2 mb-4">
        <h1 class="fw-bold">Dados do caso</h1>
    </div>

    <!-- Dados do Caso -->
    <section class="mb-5">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <p class="mb-2"><strong>Senha da fila:</strong> {{ patient.queueTicket }}</p>
                        <p class="mb-2"><strong>Data de realização da triagem:</strong> {{ patient.createdAtDate }}</p>
                        <p><strong>Hora de realização da triagem:</strong> {{ patient.createdAtTime }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Informações Pessoais -->
    <section class="mb-5">
        <h4 class="text-primary mb-3"><strong>Informações Pessoais</strong></h4>
        <div class="card shadow-sm border-0">
            <div class="card-body row">
                <div class="col-md-4 mb-3">
                    <p class="mb-1"><strong>Nome:</strong></p>
                    <p class="text-muted">{{ patient.name }}</p>
                </div>
                <div class="col-md-4 mb-3">
                    <p class="mb-1"><strong>Gênero:</strong></p>
                    <p class="text-muted">{{ patient.gender }}</p>
                </div>
                <div class="col-md-4 mb-3">
                    <p class="mb-1"><strong>Idade:</strong></p>
                    <p class="text-muted">{{ patient.age }} anos</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Dados da Triagem -->
    <section>
        <h4 class="text-primary mb-3"><strong>Dados da Triagem</strong></h4>
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h5 class="fw-bold mb-3">Dados enviados pelo paciente</h5>
                <p class="mb-3 text-muted">{{ patient.symptoms }}</p>

                <p class="mb-2"><strong>Classificação de risco: </strong> <span class="text-muted">{{ patient.risk
                        }}</span></p>
                <p><strong>Justificativa: </strong> <span class="text-muted">{{ patient.justification }}</span></p>
            </div>
        </div>
    </section>

</main>