<!--Main content-->
<main class="container mt-4">

    <div id="title-div" style="border-bottom: 1px solid black;">
        <h1 class="page-title">Dados do caso</h1>
    </div>

    <!--Case data-->
    <section class="row">
        <div class="col-md-7">

            <div class="row mt-3">
                <div class="col-md-12">
                    <p style="font-weight: bold;">Senha da fila
                        <span class="ml-2" style="font-weight: 400;"></span>
                    </p>
                </div>

                <div class="col-md-12">
                    <p style="font-weight: bold;">Data de realização da triagem:
                        <span class="ml-2" style="font-weight: 400;"></span>
                    </p>
                </div>
                <div class="col-md-12">
                    <p style="font-weight: bold;">Hora de realização da triagem:
                        <span class="ml-2" style="font-weight: 400;"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>



    <!--Personal Data section-->
    <section class="row" style="margin-top: 5vh;">
        <div class="col-md-7">
            <h4 class="mb-2" style="color: #1487ff;">Informações Pessoais</h4>

            <div class="data row mt-4">
                <div class="col-md-6">
                    <p class="label">Nome:
                        <span class="ml-3 value"></span>
                    </p>
                </div>
            </div>

            <div class="data row mt-3">
                <div class="col-md-6">
                    <p class="label">Gênero:
                        <span class="ml-3 value">Masculino</span>
                    </p>
                </div>
            </div>

            <div class="data row mt-3">
                <div class="col-md-6">
                    <p class="label">Data de nascimento:
                        <span class="ml-3 value">20/12/1978</span>
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="label">Idade:
                        <span class="ml-3 value">56 anos</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--Triage data -->
    <section id="triage-data-section">
        <h4 class="mb-3" style="color: #1487ff;">Dados da Triagem</h4>

        <div class="row">
            <!-- Dados Enviados -->
            <div class="triage-data col-sm-12 p-3">
                <h5 class="mb-3" style="color: #000000; font-weight: bolder;">Dados enviados pelo
                    paciente</h5>
                <div class="">
                    <p></p>
                </div>
            </div>

            <!-- Dados Recebidos -->
            <div class="triage-data col-sm-12">
                <h5 class="mb-3 mt-3" style="color: #000000; font-weight: bolder;"></h5>
                <div class="p-3">
                    <p style="font-weight: 550;">Classificação de risco:
                        <span class="ml-3" style="font-weight: 400;"></span>
                    </p>

                    <p style="font-weight: 550;">Justificativa:
                        <span class="ml-3" style="font-weight: 400;"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>