  /* Sidebar */
  .sidebar {
    height: 100vh;
    width: 12vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #202020;
    padding-top: 20px;
    box-shadow: 1px 1px 8px rgb(39, 39, 39);
  }
  
  .sidebar a {
    padding: 1vh 0.5vw;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight: 500;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidebar h4 {
    color: #005bb5;
    margin-bottom: 3vh;
  }
  
  .sidebar a:hover {
    background-color: #005bb5;
    color: white;
  }

  .sidebar-brand{
    font-weight: bolder;
    font-size: 150%;
    margin-bottom: 2vh;
}
