body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #fdfdfd;
}

#title-div{
    margin-top: 5vh;
    margin-bottom: 4vh;
}
.page-title {
    margin-bottom: 1vw;
    font-size: 250%;
    font-weight: bold;
    color: #1487ff;
    text-align: left;
    
}

/* CARD */

.case-row {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-details {
    flex: 1;
    padding-right: 1rem;
    cursor: pointer;
}

.case-status {
    flex: 1;
    text-align: center;
}

.case-actions {
    text-align: right;
}

.case-actions button {
    background-color: #1487ff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.card-footer {
    text-align: center;
    font-size: 65%;
    background-color: #f1f1f1;
}

.btn-primary {
    background-color: #1487ff;
    border-color: #1487ff;
}

.btn-primary:hover {
    background-color: #005bb5;
    border-color: #004999;
}

#button-div button{
    height: 4vh;
    width: 25vw; 
}

#input-div input{
    height: 4vh;
    width: 25vw;
    font-size: 18px;
}



/* Filter and select */
#filters-div{
    padding: 10px;
    padding-top: 1vw;
    margin-bottom: 1vw;
    width: 30vw;
}

#search-input{
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 100%;
    margin-bottom: 1vh;
}

#category-select {
    width: auto;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 100%;
}



#btn-filter {
    margin-left: 9vw;
    width: 6vw;  
    padding: 7px; 
}