<main class="container">
  <div id="title-div">
    <h1 class="page-title">Casos de Pacientes</h1>
  </div>

  <section id="filters-div">
    <!-- Campo de pesquisa -->
    <div class="row align-items-center mb-3 search-row">
      <div class="col-sm-12">
        <label for="search-input" class="form-label">Pesquisa por nome:</label>
        <input type="text" id="search-input" class="form-control" placeholder="Digite um nome para pesquisar..."
          [(ngModel)]="nomeFiltro">
      </div>
    </div>

    <!-- Campo de seleção -->
    <!-- Campo de seleção + Botão adicionar paciente -->
    <div class="row align-items-center mb-3 filters-actions-row">
      <!-- Filtros à esquerda -->
      <div class="col d-flex align-items-center filter-controls">
        <label for="category-select" class="mt-1 me-2">Filtrar por risco:</label>
        <select id="category-select" class="form-select me-2" [(ngModel)]="riscoFiltro">
          <option value="">Todos</option>
          <option value="ESI-1">ESI-1</option>
          <option value="ESI-2">ESI-2</option>
          <option value="ESI-3">ESI-3</option>
          <option value="ESI-4">ESI-4</option>
          <option value="ESI-5">ESI-5</option>
        </select>
        <button class="btn btn-primary" (click)="aplicarFiltro()">Filtrar</button>
      </div>

      <!-- Botão à direita -->
      <div class="col text-end add-patient-action">
        <button class="btn btn-primary" [routerLink]="['/medical/cases/create']">Gerenciar pacientes</button>
      </div>
    </div>
  </section>

  <!-- Cases -->
  <div *ngFor="let patient of filteredPatient" class="case-row mt-3"
    [style.border-left]="'8px solid ' + getCorRisco(patient.classificacao)">
    <div class="case-details">
      <p><strong>Nome:</strong> {{ patient.name }}</p>
      <p><strong>Idade:</strong> {{ patient.age }} anos</p>
      <p><strong>Gênero:</strong> {{ patient.gender }}</p>
    </div>
    <div class="case-status">
      <p><strong>Grau de Risco:</strong> {{ patient.classificacao }}</p>
      <p><strong>Senha da fila:</strong> {{ patient.queueTicket }}</p>
    </div>
    <div class="case-actions">
      <button
        class="btn btn-primary"
        [routerLink]="['/medical/cases/detail/', getCaseRouteId(patient)]"
        [queryParams]="getCaseQueryParams(patient)"
      >
        Detalhes
      </button>
    </div>
  </div>
</main>
